<img src="/Pictures/contactCar.jpg" alt="Picture of a car">
<br> <br> <br> <br> <br> 
<h1>FREQUENTLY ASKED QUESTIONS (FAQ)</h1>
<br> <br>
<p>Q: What are your renter requirements for renting in the US?</p>
<p>Ans: Meet renting locations minimum age requirement.<br>Have a valid drivers license.<br>Be able to provide an acceptable form of payment.
</p>

<p>Q: What Forms of payment are accepted for renting?</p>
<p>Ans: We accept cash, VISA&reg;, MasterCard&reg;, American Express&reg;.</p>

<p>Q: Does Revature Car Rental accept gift cards?</p>
<p>Ans: We dont accept gift cards. We only accept cash, VISA&reg;, MasterCard&reg;, American Express&reg;.</p>

<p>Q: How do I cancel my reservation?</p>
<p>Ans: After confirming reservation if you want to cancel reservation, you have to contact us directly via phone call or email. See contact information section for additional information.
</p>

<p>Q: What should I do if the rental car breaks down?</p>
<p>Ans: If your rental car breaks down due to mechanical failure, at first make sure you are safe. Then give us a call for assistance.</p>
<br> <br> <br> <br>
<h1>CONTACT INFORMATION</h1>

<ul>
    <li>Phone Number : +1-(347)-545-7528</li>
    <li>Email Address : revature.car@revature.net</li>
    <li>Address: 106 Waltham St, Newton, MA, 02465</li>
</ul>

<br> <br>
<h1>Our Location</h1>
<br> <br>

<img src="/Pictures/gps.png">
<br> <br> <br> <br>