<div class="align-items-center row m-5 mb-lg-5">
    <h1>Log In</h1>

    <form id="loginForm">
        <p id="msg" class="bg-dark text-warning"></p>

        <div class="form-group w-25 p-2">
            <input type="text" class="form-control" name="username" placeholder="User Name">
        </div>

        <div class="form-group w-25 p-2">
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>