<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revature Car Rental</title>
    <link rel="stylesheet" href="Provider.css">
</head>
<body>

<h1 id="headerId">Please fill up these to confirm your reservation!</h1>
<p id="msg"></p>
<form id="reservationID"> 
<label id="PicupDateLabel"> Pick Up date </label>
<input id="PicupDate" type="text" placeholder=" Pick Up Date(mm/dd/yyyy)">

<label id="ReturnDateLabel"> Return date </label>
<input id="returnDate" type="text" placeholder=" Return Up Date(mm/dd/yyyy)">

<label id="childSeatLabel"> Child Seats </label>
<input id="childSeat" type="text" placeholder=" Child Seat">

<label id="GPSLabel"> GPS </label> 
<input id="GPS" type="checkbox">

<button type="submit" id="confirmButton"> Confirm Reservation </button>

</form>

<h1 id="providerHeader"> Here are the lists for all our providers </h1>
<div id="myDiv"> </div>

<button id="nextButton"> Next </button><br>
<button id="previousButton"> Previous </button>




<script src="Provider.js"> </script>
</body>
</html>