<img id="car3" src="/Pictures/car3.jpg" alt="Picture of a car">

<pre id="Header1">CHOOSE  A  VEHICLE  THAT  SUITS  YOU</pre>

<hr size="6" ,width="100%" color="black">

<img id="logoID" src="/Pictures/revatureLogo.PNG" alt="logo pic">

<p id="safetyPara"> When you're ready to travel, we want you to feel confident and safe.
    With the Complete Clean Pledge, we are committed to industry-leading procedures
    to clean and sanitize with a disinfectant every vehicle.

</p>

<hr size="6" ,width="100%" color="black">
<!-- index code  -->
<img id="myImg">
<div id="myDiv"></div>

<button id="reserveButton"> Reserve</button>

<button id="nextButton"> Next</button><br>
<button id="previousButton"> Previous</button>