<img id="car1" src="/Pictures/car1.jfif" alt="Picture of a car">
<p id="description">
    Welcome to Revature car rental service! If you are looking for a place from where you can rent a car for couple of days
    at a reasonable price,you are in the right place.
    Explore our website before exploring the world! Choose your appropriate
    vehicle from the <a class="link" onclick="loadPage('/services')">service</a> section,confirm the reservation and you are good to go!<br>
    First Time here ? <a class="link" onclick="loadPage('/register')">Sign up</a> from here.<br>
    Already have an account ? <a class="link" onclick="loadPage('/login')">Log in</a> now.<br>
    Contact us for any information.
</p>

<h1 class="text-center p-5"> Unleash The Traveler Inside You </h1>

<div class="row h2">
    <div class="col-4">
        <img id="newYork" src="/Pictures/New york.jpg" alt="Picture of New York">
        <p>New York</p>
    </div>
    <div class="col-4">
        <img id="LosAngeles" src="/Pictures/Los angeles.png" alt="Picture of Los Angeles">
        <p>Los Angeles</p>
    </div>
    <div class="col-4">
        <img id="orlando" src="/Pictures/Orlando.jfif" alt="Picture of Orlando">
        <p>Orlando</p>
    </div>
</div>

<div class="row h2">
    <div class="col-4">
        <img src="/Pictures/Boston.jpg" alt="Picture of a Boston">
        <p>Boston</p>
    </div>
    <div class="col-4">
        <img src="/Pictures/San fransisco.jfif" alt="Picture of a San Fransisco">
        <p>San Fransisco</p>
    </div>
    <div class="col-4">
        <img src="/Pictures/Virginia.jfif" alt="Picture of Virginia">
        <p>Virginia</p>
    </div>
</div>
<br> <br>
<div class="row mt-4 text-center">
    <h1>Customer Reviews</h1>
     <br> <br> <br> <br>
    <div class="col-3">
        <img src="/Pictures/bryan.PNG" width="200px"> <br> <q>Is it the best rental service? 100%</q> - Bryan
    </div>

    <div class="col-3">
        <img src="/Pictures/kent.png" width="200px"> <br> <q>This is the worst Expense Reimbursement System I've seen</q> - Kent
    </div>

    <div class="col-3">
        <img src="/Pictures/james.gif" width="200px"> <br> <q>Took me a while to load the page, but worth the wait.</q> - James
    </div>

    <div class="col-3">
        <img src="/Pictures/ben.png" width="200px"> <br> <q>Right There</q> - Ben
    </div>
</div>
<br> <br> <br> <br>