#navID
{
    height: 100px;
}
#logoID
{
    padding-left: 80px;
    font-size: 30px;
    
}
#homeID
{
    padding-left: 500px;
    padding-right: 50px;
    font-size: 20px;
}

#LoginID
{
    padding-right: 50px;
    font-size: 20px;
}
#ServiceID
{
    padding-right: 50px;
    font-size: 20px;
}
#ContactID
{
    padding-right: 50px;
    font-size: 20px;
}
#SignUpID
{
    padding-right: 50px;
    font-size: 20px;
}

body
{
    background-image: url(/Pictures/BackgroundPicForRegister.jfif);

}


#test
{
    position: absolute;
    left: 400px;
    top:200px;
    width: 692px;
    height: 600px;
    background: rgb(211, 208, 208);
}

#headerID
{
    position: absolute;
    left: 170px;
    top: 30px;
    text-align: center;
    font-family:Century Gothic;

}

/*  First Page Start   */

#FirstNameLabel
{
    position: absolute;
    left: 10px;
    top: 145px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#FirstName
{
    position: absolute;
    left: 170px;
    top: 130px;
    border: 3px solid black;
    border-radius: 8px;
    width: 400px;
    height: 50px;
}

#LastNameLabel
{
    position: absolute;
    left: 10px;
    top: 215px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#LastName
{
    position: absolute;
    left: 170px;
    top: 200px;
    border: 3px solid black;
    border-radius: 8px;
    width: 400px;
    height: 50px;
}


#DOBLabel
{
    position: absolute;
    left: 10px;
    top: 285px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#DOB
{
    position: absolute;
    left: 170px;
    top: 270px;
    border: 3px solid black;
    border-radius: 8px;
    width: 400px;
    height: 50px;
}

#phoneLabel
{
    position: absolute;
    left: 10px;
    top: 355px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#phone
{
    position: absolute;
    left: 170px;
    top: 340px;
    border: 3px solid black;
    border-radius: 8px;
    width: 400px;
    height: 50px;
}



#emailLabel
{
    position: absolute;
    left: 10px;
    top: 425px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#email
{
    position: absolute;
    left: 170px;
    top: 410px;
    border: 3px solid black;
    border-radius: 8px;
    width: 400px;
    height: 50px;
}



#msg
{
  padding-top: 90px;
  padding-left: 260px;
  color: rgb(223, 3, 3);
}
#nextButton
{
    position: absolute;
    font-weight: bold;
    color: white;
    top: 480px;
    left:300px;
    border: 2px solid black;
    background-color: #4CAF50;
    width: 100px;
    height: 50px;
}


/*  First Page Finish  */


/*  Second Page Start   */

 #streetLabel
{
    position: absolute;
    left: 10px;
    top: 145px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#street
{
    position: absolute;
    left: 170px;
    top: 130px;
    border: 3px solid black;
    border-radius: 8px;
    width: 400px;
    height: 50px;
}

#cityLabel
{
    position: absolute;
    left: 10px;
    top: 215px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#city
{
    position: absolute;
    left: 170px;
    top: 200px;
    border: 3px solid black;
    border-radius: 8px;
    width: 400px;
    height: 50px;
}


#stateLabel
{
    position: absolute;
    left: 10px;
    top: 285px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#state
{
    position: absolute;
    left: 170px;
    top: 270px;
    border: 3px solid black;
    border-radius: 8px;
    width: 400px;
    height: 50px;
}

#postalLabel
{
    position: absolute;
    left: 10px;
    top: 355px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#postal
{
    position: absolute;
    left: 170px;
    top: 340px;
    border: 3px solid black;
    border-radius: 8px;
    width: 400px;
    height: 50px;
}


#previousButton
{
    position: absolute;
    font-weight: bold;
    color: white;
    top: 540px;
    left:20px;
    border: 2px solid black;
    background-color: #4CAF50;
    width: 100px;
    height: 50px;
}
#nextButton2
{
    position: absolute;
    font-weight: bold;
    color: white;
    top: 540px;
    left:540px;
    border: 2px solid black;
    background-color: #4CAF50;
    width: 100px;
    height: 50px;
}


/*  Second Page Finish  */

/*  Third Page Start   */

#LicenseLabel
{
    position: absolute;
    left: 10px;
    top: 145px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#License
{
    position: absolute;
    left: 170px;
    top: 130px;
    border: 3px solid black;
    border-radius: 8px;
    width: 400px;
    height: 50px;
}


#authorityLabel
{
  position: absolute;
  left: 10px;
  top: 215px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
#authority
{
  position: absolute;
  left: 170px;
  top: 200px;
  border: 3px solid black;
  border-radius: 8px;
  width: 400px;
  height: 50px;
}


#expireLabel
{
  position: absolute;
  left: 10px;
  top: 285px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
#expire
{
  position: absolute;
  left: 170px;
  top: 270px;
  border: 3px solid black;
  border-radius: 8px;
  width: 400px;
  height: 50px;
}

#nextButton3
{
    position: absolute;
    font-weight: bold;
    color: white;
    top: 460px;
    left:540px;
    border: 2px solid black;
    background-color: #4CAF50;
    width: 100px;
    height: 50px;
}
#previousButton3
{
    position: absolute;
    font-weight: bold;
    color: white;
    top: 460px;
    left:20px;
    border: 2px solid black;
    background-color: #4CAF50;
    width: 100px;
    height: 50px;
}

/*  Third Page Finish   */


/* Fourth Page Start */

#userNameLabel
  {
      position: absolute;
      left: 10px;
      top: 140px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      
  }
  #userName
  {
      position: absolute;
      left: 170px;
      top: 125px;
      border: 3px solid black;
      border-radius: 8px;
      width: 400px;
      height: 50px;
  }


#passwordLabel
{
    position: absolute;
    left: 10px;
    top: 210px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#password
{
    position: absolute;
    left: 170px;
    top: 195px;
    border: 3px solid black;
    border-radius: 8px;
    width: 400px;
    height: 50px;
}


#confirmationLabel
{
    position: absolute;
    left: 10px;
    top: 280px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#confirmation
{
    position: absolute;
    left: 170px;
    top: 265px;
    border: 3px solid black;
    border-radius: 8px;
    width: 400px;
    height: 50px;
}


#finishButton
{
    position: absolute;
    font-weight: bold;
    color: white;
    top: 340px;
    left:280px;
    border: 2px solid black;
    background-color: #4CAF50;
    width: 100px;
    height: 50px;
}
#previousButton4
{
    position: absolute;
    font-weight: bold;
    color: white;
    top: 420px;
    left:280px;
    border: 2px solid black;
    background-color: #4CAF50;
    width: 100px;
    height: 50px;
}






#footerID
  {
      position: absolute;
      top: 1000px;
      height: 480px;
      left: 0px;
      right: 0px;
      width: 1518px;
      background-color: rgb(0, 0, 0);
  }
 
  #rowID1
  {
    position: absolute;
    left: 200px;
    top: 100px;
    color:white;
  }
  #column1
  {
    position: absolute;
    left: 200px;
    top: 150px;
    color:white;
  }
 
  #rowID2
  {
    position: absolute;
    left: 500px;
    top: 100px;
    color:white;
  }
  #column2
  {
    position: absolute;
    left: 500px;
    top: 150px;
    color:white;
  }
  #rowID3
  {
    position: absolute;
    left: 800px;
    top: 100px;
    color:white;
  }
  #column3
  {
    position: absolute;
    left: 800px;
    top: 150px;
    color:white;
  }
  #rowID4
  {
    position: absolute;
    left: 1200px;
    top: 100px;
    color:white;
  }
  #column4
  {
    position: absolute;
    left: 1200px;
    top: 150px;
    color:white;
  }

  #textID
  {
      padding-top: 290px;
      text-align: center;
      color: aliceblue;
  
  }
  
  #textID2
  {
    
      padding-top: 20px;
      text-align: center;

  }