#headerId
{
    position: absolute;
    left: 420px;
    top: 100px;
}
#PicupDateLabel
{
    position: absolute;
    left: 500px;
    top: 320px;
}
#PicupDate
{
    position: absolute;
    left: 600px;
    top:300px;
    width: 300px;
    height:50px;
}
#ReturnDateLabel
{
    position: absolute;
    left: 500px;
    top: 400px;
}
#returnDate
{
    position: absolute;
    left: 600px;
    top:380px;
    width: 300px;
    height:50px;
}
#childSeatLabel
{
    position: absolute;
    top: 480px;
    left: 500px;

}
#childSeat
{
    position: absolute;
    top: 460px;
    left: 600px;
    width: 300px;
    height:50px;
}
#GPSLabel
{
    position: absolute;
    top: 560px;
    left: 500px;
}
#GPS
{
    position: absolute;
    top: 570px;
    left:650px;
}
#confirmButton
{
    position: absolute;
    top: 650px;
    color: white;
    background-color: #0082e6;
    left: 680px;
    width: 100px;
    height: 50px;
    border-radius: 2cm;
    border: 2px solid black;
}
#msg
{
  position: absolute;
  text-align: center;
  font-family:Century Gothic;
  font-weight:bold;
  top: 200px;
  left: 620px;
  color: rgb(223, 3, 3);
}

#providerHeader
{
    position: absolute;
    text-align: center;
    left:200px;
    top: 780px;

}
#myDiv
{
    position: absolute;
    left:300px;
    top: 900px;
}

#nextButton
{
    position: absolute;
    top: 1150px;
    left: 650px;
    width: 80px;
    height: 50px;
    cursor: pointer;
}
#previousButton
{
    position: absolute;
    top: 1150px;
    left: 450px;
    width: 80px;
    height: 50px;
    cursor: pointer;
}

